@import url("https://fonts.googleapis.com/css2?family=Poppins:&display=swap");

.container {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  height: 100%;
}

.header {
  background: #32bea6;
  padding: 2em 0;
  padding-bottom: 4em;
}

.nav {
  margin: 10px auto;
  max-width: 1440px;
  padding: 0 10%;
}

.nav img {
  width: 150px;
  height: auto;
}

.headCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2em auto;
  max-width: 1440px;
  padding: 0 10%;
}
.text {
  width: 586px;
}
.text h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
  margin: 0 0 10px;
}
.text p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
  margin: 0 0 2em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}

.btn button {
  padding: 10px 30px;
  background: #000000;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 45px;
  color: #ffffff;
  border: none;
  outline: none;
}
.watch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4em;
  cursor: pointer;
}

.watch span {
  font-size: 25px;
}

.play {
  font-size: 50px;
}
.watch p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: #000000;
}
.image {
  width: 250px;
  height: 250px;
}

.image img {
  width: 100%;
  height: 100%;
}
.spo {
  width: 100%;
}

.spon {
  padding: 6em 0;
  max-width: 1440px;
  margin: auto;
  width: 100%;
}
.spon h2 {
  width: 673px;
  margin: 0 auto 3em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  /* line-height: 45px; */
  text-align: center;
  color: #000000;
}

.one {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4em;
  margin-bottom: 4em;
  max-width: 1440px;
  justify-content: space-around;
  padding: 0px 10%;
}

.sponCap img {
  width: 200px;
  height: auto;
}

.demoB {
  width: 100%;
  height: 100%;
  margin: 0 0 5em;
}

.demo {
  max-width: 1440px;
  width: 100%;
  margin: 2em auto;
  margin-bottom: 5em;
  height: 100%;
}

.demo h2 {
  width: 673px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: #000000;
  margin: 0 auto 2em;
}
.demoT {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/scc2.png);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 819px;
  height: 400px;
  margin: auto;
  border-radius: 25px;
}
.demoT p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  margin: 0 0;
}
.demoP {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}

.exploreB {
  width: 100%;
  height: 100%;
}

.explore {
  max-width: 1440px;
  margin: 15em 10px 10em 10px;
  padding: 0 10%;
}

.explore h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  color: #000000;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 5em;
}

.conCap {
  width: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
}

.conCap h3 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

.conCap p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  margin-top: 10px;
  color: #000000;
}

.cIcon {
  font-size: 25px;
}

.intB {
  width: 100%;
  margin: 5em 0 3em;
}
.int {
  max-width: 1440px;
  margin: 0px 10%;
  background: #32bea6;
  border-radius: 20px;
  padding: 50px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-content: space-around;
}
/* .iText {
  width: 473px;
} */

.iText h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  margin: 0 0 1em;
}

.iText p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}

.iText button {
  padding: 10px 30px;
  background: #000000;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  outline: none;
  border: none;
}

.imagi {
  width: 400px;
  height: auto;
}

.iText {
  padding-right: 10%;
}

.imagi img {
  width: 100%;
  height: 100%;
}

.footer {
  max-width: 1440px;
  margin: 5em auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.first {
  width: 338px;
}
.first img {
  width: 221px;
  height: 46.67px;
}
.first p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;

  color: #000000;
}

.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.sIcon {
  font-size: 25px;
}

.sec {
  display: flex;
  align-items: flex-start;
  justify-self: center;
  gap: 2em;
}

.secCon {
  width: 148px;
}
.secCon ul p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
}

.secCon ul {
  padding: 0;
  margin: 0;
}
.secCon ul li {
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin: 0 0 1em;
  color: #000000;
}

@media (max-width: 1440px) {

  .content {
    justify-content: space-around;
    gap: 1em;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 100%;
  }
  .headCon {
    flex-direction: column;
  }
  .text {
    margin: 0 auto 2em 0;
  }

  /* .image {
    margin: 0 0 0 auto;
  } */

  .int {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 900px) {
  .demoT {
    width: 95%;
  }
  .footer {
    flex-direction: column;
    margin: 3em 0 0 ;
  }
  .first {
    margin: 0 auto 2em 0 ;
  }
  .sec {
    margin: 0 0 0 auto;
  }

  .int {
    flex-direction: column;
    height: 100%;
    padding: 2em 1em;
  }
  .iText {
    margin: 0 auto 2em 0;
  }
  .imagi{
     margin: 40px auto 0px;
  }
}

@media (max-width: 768px) {
  .spon h2,
  .demo h2,
  .text {
    width: 95%;
  }

  .btn button {
    width: 270px;
    font-size: 25px;
    line-height: 30px;
  }
  .sec {
  flex-wrap: wrap;
  justify-content: center ;
  }

  .nav, .headCon, .one, .explore {
    padding: 0px 10px;
  }

  .conCap {
    width: -webkit-fill-available;
  }

}

@media (max-width: 500px) {
  .btn {
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
  }

  .text h2 {
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 0.3em;
  }
  .text p {
    font-size: 22px;
    line-height: 29px;
    margin: 0 0 1em;
  }

  .btn button {
    /* width: 200px;
    height: 70px; */
    font-size: 22px;
    line-height: 39px;
  }

  .watch span {
    font-size: 22px;
  }

  .play {
    font-size: 40px;
  }

  .image {
    /* width: 95%; */
    object-fit: contain;
    margin: auto;
  }
  /* .iText {
    width: 97%;
  } */
  .imagi {
    width: -webkit-fill-available;
  }

  .first {
    margin: 0 auto 2em;
  }
}
