@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.rightBa {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #3C1D59;
}
.right {
  max-width: 480px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  position: absolute;
  top:5%;
  left: 0;
}
.logo img {
  height: 46.66666793823242px;
  width: 35px;
}
.logo span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.right h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #ffffff;
  margin: 1em 0 0 ;
}
.right p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
  margin: 0em 0 1em ;

}
.boxCon {
  width: 100% !important;
  background-color: #fff !important;
  margin-bottom: 1em !important;
  margin-left: 0 !important;
  border-radius: 10px;
}


.boxCon:focus-visible {
  background-color: red !important;
}

.right button {
  height: 60px;
  margin-top: 2em;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #ffffff;
}

.btnn{
    margin: 0 0 0 !important;
}

.login {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.loginC {
  font-weight: 600;
}

.leftBa {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftBa img {
  width: 618.59px;
  height: 425.12px;
}

@media (max-width: 1350px) {
  .leftBa img {
    width: 97%;
    object-fit: contain;
    height: 425.12px;
  }
}

@media (max-width: 1024px) {
  .right {
    max-width: 95%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .leftBa {
    display: none;
  }
  .rightBa {
    width: 100%;
  }

  .right {
    max-width: 95%;
    margin: auto;
  }
}

@media (max-width: 425px) {
  .logo {
    gap: 0.3em;
  }
  .logo img {
    height: 40px;
    width: 30px;
  }

  .logo span {
    font-size: 20px;
    line-height: 20px;
  }
}
